.n_logo{
	display:inline-block
}
.navbar{
	background:transparent !important
}
.navbar a:not(.btn){
	font-size:14px !important;
	text-transform:none !important
}
.navbar-nav li a i{
	vertical-align:middle
}
 .navbar-nav li .btn{
	 line-height:20px !important
	}
 @media screen and (min-width: 992px){ 
	.navbar-collapse{
		float:right;
		justify-content:flex-end
	}
  .navbar-collapse .navbar-nav{
	  display:inline-block
	}
   .navbar-collapse .navbar-nav li{
	   display:inline-block
	}
}
   @media only screen and (max-width: 767px){
	.footer nav{
		display:block;
		float:none
	}
}